@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Montserrat:wght@500&family=Outfit:wght@100;200;300;500;600&family=Source+Code+Pro:ital,wght@0,500;1,700&family=Varela&family=Varela+Round&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body , html{
  overflow-x: hidden !important ;
}

code {
  font-family: 'Montserrat', sans-serif;
}
